<!--

Resolución Tarea Video 89

Forma rápida para generar automáticamente: ul>li*4

<ul>
  <li>Primero</li>
  <li>Segundo</li>
  <li>Tercero</li>
  <li>Cuarto</li>
</ul>

-->

<!-- .row para generar automáticamente <div class="row"></div> -->
<div class="row">                                                         <!--  -->
  <div *ngFor="let gif of gifs" class="col-md-3 col-sm-6">                                         <!--  -->
    <div class="card mb-2 text-center bg-dark">                           <!--  -->
      <!-- Crear Imagen -->
      <div class="card-body text-white">                                  <!--  -->
        <p class="card-text">                                             <!--  -->
          {{gif.title}}
        </p>
      </div>
    </div>
  </div>
</div>
